/* Write your code here. */
.backgroundColor {
  background-color: #0f172a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.league {
  color: #f8fafc;
  font-family: Roboto;
  font-size: 40px;
}
.img {
  height: 180;
  width: 180px;
  padding: 0px;
  margin: 0px;
}

@media (max-width: 576px) {
  .league {
    color: #f8fafc;
    font-family: Roboto;
    font-size: 30px;
  }
  .img {
    height: 150px;
    width: 150px;
    padding: 0px;
    margin: 0px;
  }
}
